<p-menubar [model]="items" />

<h2>Lista de Contatos</h2>

<div *ngIf="listaContatos.length === 0">
  Nenhum Contato cadastrado
</div>

<p-table [value]="listaContatos" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template #caption>
    <div >
      <span class="text-xl font-bold">Lista De Contatos</span>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Grupo</th>
    </tr>
  </ng-template>
  <ng-template #body let-contato>
    <tr>
      <td>{{ contato.id}}</td>
      <td>{{contato.nome}}</td>
      <td>{{ contato.telefone }}</td>
      <td>{{ contato.email }}</td>
      <td>{{contato.grupos}}</td>
    </tr>
  </ng-template>
</p-table>

<div>
  <label for="grupo">Selecione um grupo: </label>
  <select [(ngModel)]="selectedGrupoId" id="grupo" (change)="filtrarPorGrupo()">
    <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.nome }}</option>
  </select>
</div>
<div *ngIf="contatos.length > 0">
  <ul>
      <p-table [value]="contatos" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template #caption>
          <div >
            <span class="text-xl font-bold">Lista De Contatos</span>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
          </tr>
        </ng-template>
        <ng-template #body let-contato>
          <tr>
            <td>{{contato.nome}}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.email }}</td>
          </tr>
        </ng-template>
      </p-table>
  </ul>
</div>
