<p-panel>
  <p-floatlabel>
    <input pInputText id="identificador" [(ngModel)]="novoContato.id" />
    <label for="identificador">Username</label>
  </p-floatlabel>
  <br>
  <p-floatlabel>
    <input id="nome" pInputText [(ngModel)]="novoContato.nome" />
    <label for="nome">Nome</label>
  </p-floatlabel>
  <br>
  <p-floatlabel>
    <input id="telefone" pInputText [(ngModel)]="novoContato.telefone" />
    <label for="telefone">Telefone</label>
  </p-floatlabel>
  <br>
  <p-floatlabel>
    <input id="email" pInputText [(ngModel)]="novoContato.email" />
    <label for="email">E-mail</label>
  </p-floatlabel>
  <br>
  <p-listbox
    [(ngModel)]="novoContato.grupos"
    [options]="listaGrupos"
    [multiple]="true"
    [checkbox]="true"
    optionLabel="nome"
    class="w-full md:w-56">
  </p-listbox>
  <br>
  <p-button label="Salvar" (click)="salvar()"/>
</p-panel>

<br><br>

<a routerLink="/lista">Voltar para lista</a>
