<!-- src/app/components/formulario/formulario.component.html -->
<label>Nome:
  <input [(ngModel)]="novoContato.nome" type="text" placeholder="Digite o nome" />
</label>
<br>
<label>Telefone:
  <input [(ngModel)]="novoContato.telefone" type="text" placeholder="Digite o telefone" />
</label>
<br>
<label>Email:
  <input [(ngModel)]="novoContato.email" type="text" placeholder="Digite o e-mail" />
</label>
<br>

<label>Grupos:
  <div *ngFor="let grupo of listaGrupos">
    <input
      type="checkbox"
      [value]="grupo"
      (change)="onGrupoChange($event, grupo)"
      [checked]="isGrupoSelected(grupo)"
    />
    {{grupo.nome}}
  </div>
</label>

<button (click)="salvar()">Salvar</button>
<br><br>
<a routerLink="/lista">Voltar para lista</a>
