<p-menubar [model]="items" />
<p-panel>
<div *ngIf="listaGrupos.length === 0" class="aviso-vazio">
  Nenhum grupo cadastrado
</div>

<p-table *ngIf="listaGrupos.length > 0" [value]="listaGrupos" [tableStyle]="{ 'min-width': '60rem' }" class="painel-centralizado">
  <ng-template #caption>
    <div >
      <span class="text-xl font-bold">Lista De Grupos</span>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Identifacador</th>
      <th>Grupo</th>
    </tr>
  </ng-template>
  <ng-template #body let-grupo>
    <tr>
      <td>{{ grupo.id}}</td>
      <td>{{grupo.nome}}</td>
      <td>
        <p-button icon="pi pi-trash" (click)="removerGrupo(grupo.id)" severity="secondary" rounded />
      </td>
    </tr>
  </ng-template>
</p-table>
</p-panel>
