<p-menubar [model]="items" />
<p-panel>
  <div *ngIf="listaAgendamentos.length === 0" class="aviso-vazio">
    Nenhum grupo cadastrado
  </div>

  <p-table *ngIf="listaAgendamentos.length > 0" [value]="listaAgendamentos" [tableStyle]="{ 'min-width': '60rem' }" class="painel-centralizado">
    <ng-template #caption>
      <div >
        <span class="text-xl font-bold">Lista De Agendamentos</span>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Identifacador</th>
        <th>Grupo</th>
      </tr>
    </ng-template>
    <ng-template #body let-agenda>
      <tr>
        <td>{{ agenda.id}}</td>
        <td>{{agenda.titulo}}</td>
        <td>{{agenda.descricao}}</td>
        <td>{{agenda.dataHora}}</td>
        <td>{{agenda.local}}</td>
        <td>
          <ng-container *ngFor="let contato of agenda.contatos; let last = last">
            {{ contato.nome }} , {{contato.telefone}}, {{contato.email}}<span *ngIf="!last"> - </span>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
